html,body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  padding: 0.5em;
}

.chart {
  width: 400px;
  height: 300px;
  float: left;
  margin: 20px;
  background: pink;
}

/*
.module {
  min-height: 600px;
  background: pink;
}
*/

.axis-y .domain {
  display: none;
}

.axis-y line {
  opacity: 0.2;
}